@using Microsoft.AspNetCore.Components.Authorization
@typeparam TEntity
@typeparam TFactory
@typeparam TView
@typeparam TContext

@inject NavigationManager NavigationManager

<h3>@View.GetName(): @Entity</h3>

@if (Loading)
{
    <div>Загрузка...</div>
}
else
{
    <p>
        <button @onclick="Save" type="button" class="btn btn-primary">Сохранить</button>

        @AdditionalButtonsTemplate
    </p>

    @MainTemplate
}

@code {
    [CascadingParameter]
    public Task<AuthenticationState> AuthState { get; set; }

    [Parameter]
    public RenderFragment MainTemplate { get; set; }

    [Parameter]
    public RenderFragment AdditionalButtonsTemplate { get; set; }
}