@typeparam TEntity

@using Microsoft.EntityFrameworkCore
@using System.Linq.Expressions
@inject NavigationManager NavigationManager

<input class="form-control @FieldCssClasses" value="@Entity" type="text" readonly />
<button class="btn btn-outline-secondary" type="button" @onclick="async () => await Clear()" title="Очистить">
    <span class="oi oi-x" aria-hidden="true"></span>
</button>
<button class="btn btn-outline-secondary" type="button" @onclick="MagnifyGlassClick" title="Открыть">
    <span class="oi oi-magnifying-glass" aria-hidden="true"></span>
</button>
<button class="btn btn-outline-secondary" type="button" @onclick="async () => await Open()" title="Выбрать">
    <span class="oi oi-ellipses" aria-hidden="true"></span>
</button>

@code {

    [CascadingParameter] 
    private EditContext CascadedEditContext { get; set; }

    [Parameter]
    public TEntity Entity { get; set; }

    [Parameter]
    public EventCallback<TEntity> EntityChanged { get; set; }

    [Parameter]
    public Expression<Func<TEntity>> EntityExpression { get; set; }

    [Parameter]
    public IView View { get; set; }

    [CascadingParameter]
    public IModalService Modal { get; set; } = default!;

    private FieldIdentifier _fieldIdentifier;

    private EditContext _editContext;

    private string FieldCssClasses => _editContext?.FieldCssClass(_fieldIdentifier) ?? "";

    protected override void OnInitialized()
    {
        _editContext = CascadedEditContext;
        _fieldIdentifier = FieldIdentifier.Create(EntityExpression);
    }

    public void MagnifyGlassClick()
    {
        if (Entity != null)
        {
            NavigationManager.NavigateTo($"/{View.GetEntityNames()}/{Entity.Id}");
        }
    }

    public async Task Open()
    {
        var parameters = new ModalParameters();
        parameters.Add(nameof(View), View);
        parameters.Add("CreateButtonVisible", false);
        parameters.Add("ChooseOneEntity", true);
        parameters.Add("DeleteButtonVisible", false);
        parameters.Add("ShowHeader", false);

        var modal = Modal.Show<DataGridComponent>(View.GetNames(), parameters);
        var modalResult = await modal.Result;

        if (modalResult.Confirmed)
        {
            Entity = ((TEntity)modalResult.Data);
            await EntityChanged.InvokeAsync(Entity);
            CascadedEditContext?.NotifyFieldChanged(_fieldIdentifier);
        }
    }

    public async Task Clear()
    {
        Entity = null;
        await EntityChanged.InvokeAsync(Entity);
        CascadedEditContext?.NotifyFieldChanged(_fieldIdentifier);
    }
}
